
body
{
    background: #0F0800;
    color: #FF7E00;

    font-size: 2vw;
    font-weight: normal;
    font-family: 'Space Mono', monospace;

}

h1, h2, h3, h4, h5, h6
{
    color: black;
    background-color: #FF7E00;
    font-size: 2vw;
    display: inline
}

a {
    background: #0F0800;
    color: #FF7E00;
}

a:hover {
    background: #0F0800;
    color: #FF7E00;
}

th, td {
    padding: 0.5rem 1.5rem 0 1.5rem;
    text-align: left;
    border-bottom: 0px;
}

.container {
    max-width:  none;
}

.content {
    margin-top: 2vw;
}

.section {
    margin-top: 2vw;
}

.navigation {
    float: right;
}
