
body
{
    /*color: #692d55;
    background: #faf5eb;*/
    color: #692d55;
    background: #faf5eb;
}

h1, h2, h3, h4, h5, h6
{
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Gilda Display', serif;*/
    color: #f53c3c;
}

a {
    color: #692d55;
    /*text-decoration:underline;  */
    text-decoration: none;
}

a:hover {
    color: #692d55;
    text-decoration:underline;  /*text-decoration: none;*/
}

th, td {
    padding: 0.5rem 1.5rem 0 1.5rem;
    text-align: left;
    border-bottom: 0px;
}


.content {
    margin-top: 4rem;
}

.section {
    margin-top: 4rem;
}

.navigation {
    margin: 0;
    padding: 0 0 1em 0;
}
