<div class="row">
    
  <div class="one-third column">
      <p>sean2.butler@uwe.ac.uk @butlersean</p>
  </div>

  <div class="two-thirds column">
      <p>computer science & creative technology,
      faculty of environment and technology,
      university of the west of england,
      bs16 1qy,
      uk
      </p>

  </div>
</div>
