<div class = "container">

    <hr />

    <div class="row">

        <div class = "three columns">
            <p>Sean2.Butler@uwe.ac.uk
                Senior Lecturer</p>
        </div>
        
        <div class = "nine columns">
            <p>Computer Science & Creative Technology,
            Faculty of Environment and Technology,
            University of the West of England,
            BS16 1QY,
            UK
            </p>
        </div>

    </div>
</div>
