<div class="row">

    <div class = "three columns">
        <p>sean2.butler@uwe.ac.uk<br />
        @butlersean </p>
    </div>

    <div class = "nine columns">
        <p>computer science & creative technology,
        faculty of environment and technology,
        university of the west of england,
        bs16 1qy,
        uk
        </p>
    </div>

</div>
