<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Gilda+Display" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="lib/css/skeleton.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="lib/animate.css" media="screen" />

        <link rel="stylesheet" type="text/css" href="app.css" media="screen" />
    </head>

    <body>
        <div class = "container content">

            <div class="row section">
                <div class = "three columns ">
                    {{>header}}
                </div>
                <div class = "nine columns ">
                    {{>page}}
                </div>
            </div>

            <div class="row section">
                {{>footer}}
            </div>
        </div>
    </body>
</html>
