<!DOCTYPE html>
<html>
    <head>
        <!-- <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"> -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="lib/css/skeleton.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="lib/animate.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="app.css" media="screen" />
    </head>

    <body>
        <div class = "container content">

            <div class="row section">
                <div class = "twelve columns ">
                    {{>header}}
                </div>
            </div>

            <div class="row section">
                <div class = "twelve columns ">
                    {{>page}}
                </div>
            </div>

            <div class="row section">
                <div class = "twelve columns ">
                    {{>footer}}
                </div>
            </div>
        </div>

    </body>
</html>
