<div class = "navigation">

    <a href = "/">top</a><br />
    <a href = "/blog">blog</a><br />
    <a href = "/teaching">teaching</a><br />
    <a href = "/research">research</a><br />
    <a href = "/games">games</a>

</div>
