<div id = "navigation" class = "row navigation">
    <a href = "/">blog</a>
    <a href = "/teaching">teaching</a>
    <a href = "/publications">publications</a>
    <a href = "/community">community</a>
    <a href = "/games">games</a>
</div>
