<div class = "container">
    <div class="row">

        <div class = "three columns">
            <h2>games cannon</h2>
        </div>

        <div class = "nine columns">

            <p>It started with a headline recently in the Atlantic. Wether the editor means to be compelling through antagonism or perhaps a genuinely held belief, either way -- i' bit.</p>

            <p>Wikipedia's attempt lists 10 significant games originated from Henry Lowood. https://en.wikipedia.org/wiki/Game_canon</p>

            <p>Gamasutra recently contributed in with a blog post 'Cannon 2.0' . http://www.gamasutra.com/blogs/GarethMensah/20101112/6426/Canon_20.php</p>

            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>title</th>
                        <th>platform</th>
                        <th>rationalisation</th>
                    </tr>
                </thead>

                <tbody>
                    <tr><td>spacewar</td><td>iPad</td><td>genre defining</td></tr>
                    <tr><td>pong</td><td>arcade</td><td>genre defining</td></tr>
                    <tr><td>space invaders</td><td>arcade</td><td>genre defining</td></tr>
                    <tr><td>donkey kong</td><td>arcade</td><td>genre defining</td></tr>

                    <tr><td>pacman</td><td>arcade</td><td>genre defining</td></tr>

                    <tr><td>adventure</td><td>atari 2600</td><td>genre defining</td></tr>

                    <tr><td>3d monster maze</td><td>zx81</td><td>genre defining</td></tr>
                    <tr><td>wolfenstein</td><td>pc</td><td>genre defining</td></tr>
                    <tr><td>sword & sworcery</td><td>iPad</td><td>device time integration, visual style</td></tr>

                    <tr><td>tomb raider</td><td>ps1</td><td>character design</td></tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
