<div class = "animated fadeIn row">
    <h3>conferences & journals</h3>
    <table class="u-full-width">
        <tbody>
            <tr><td>IJCGT</td><td>International Journal of Computer Games Technology</td><td>https://www.hindawi.com/journals/ijcgt/</td></tr>
            <tr><td>CIE</td><td>Computers In Entertainment</td><td>https://cie.acm.org/</td></tr>
            <tr><td>DiGRA</td><td>Digital Games Research Asssociation</td><td>http://www.digra.org/</td></tr>
            <tr><td>SASDG</td><td>Society for the Advancement of the Science of Digital Games</td><td>http://www.sasdg.org/contact.html</td></tr>
            <tr><td>MCCSIS</td><td>International Conference on Game and Entertainment Technologies</td><td>http://gaming-conf.org/</td></tr>
            <tr><td>FDG2017</td><td>Foundations of Digital Games (2017)</td><td>http://fdg2017.org/</td></tr>
            <tr><td>AIIDE</td><td>Artificial Intelligence and Interactive Digital Entertainment</td><td>http://www.aiide.org/</td></tr>
            <tr><td>ACE</td><td>Advances In Computer Entertainment Technology</td><td>http://ace-conf.org/</td></tr>
            <tr><td>INTETAIN</td><td>International Conference on Intelligent Technologies for Interactive Entertainment</td><td>http://www.intetain.org/</td></tr>
            <tr><td>IEEE-CIG</td><td>IEEE Conference on Computational Intelligence and Games</td><td>http://www.ieee-cig.org/</td></tr>
        </tbody>
    </table>

    <h3>research groups networks</h3>
    <table class="u-full-width">
        <tbody>
            <tr><td>GPN</td><td>Game Philosophy Network</td><td>http://gamephilosophy.org/</td></tr>
        </tbody>
    </table>

</div>
