
<div class = "animated fadeIn row">
    <h3>curriculum vitae</h3>
</div>

<div class = "twelve columns  animated fadeIn">
    <h4>work</h4>

    <p>september 2016 > now / senior lecturer, games technology. university of the west of england.</p>
    <p>march 2015 > now / founder truckulus ltd.</p>
    <p>february 2013 > february 2015 / game director. soshi games ltd.</p>
    <p>february 2011 > february 2013 / developer. happy little aliens ltd.</p>
    <p>nov 2005 > february 2011 / lead programmer then game designer. artificial mind and movement.</p>
    <p>~2004 / part time curriculum consulting. johnson county community college.</p>
    <p>sept 1997 > mar 2003 / lead programmer. argonaut software ltd.</p>
    <p>jan 1997 > sept 199 / programmer. simtex (uk) ltd.</p>
    <p>sept 1996 > dec 1996 / programmer  blitz games.</p>
    <p>sept 1995 > sept 1996 / comp sci lecturer  department of computing, middlesex university.</p>

    <h4>awards</h4>

     <p>game designer - my sims racing ds<br />2010 canadian video game awards
       finalist, best handheld game, nominated best game design</p>

     <p>lead programmer - suite life of zack & cody ds<br />2007 alliance numerique
       winner multimedia technical innovation</p>


    <h4>study</h4>
    <p>1992 - 1996<br />postgraduate ai and cinema theory research  SECAMS, lancaster university</p>
    <p>1989 - 1992<br />computer science b.sc. 2.1 (hons)  SECAMS, lancaster university</p>

    <h4>linkedin</h4>
    <a href = "https://www.linkedin.com/in/seanbutler">https://www.linkedin.com/in/seanbutler</a>


</div>
