
<div class = "twelve columns  animated fadeIn">
    <h2>games</h2>

    <p>mainstream video games for publishers including disney, activision and ea.</p>

    <table class="u-full-width">
        <thead>
            <tr>
                <th>title</th>
                <th>platform</th>
                <th>role</th>
            </tr>
        </thead>

        <tbody>
          <tr><td>queen: the game</td><td>ios/android</td><td>game director</td></tr>
          <tr><td>weld hero</td><td>ios/android</td><td>project manager</td></tr>
          <tr><td>bus town</td><td>ios/android</td><td>game director</td></tr>
          <tr><td>clue the music</td><td>ios/android</td><td>game director</td></tr>
          <tr><td>music festivals</td><td>facebook</td><td>game director</td></tr>
          <tr><td>meteor storm escape</td><td>ios/android</td><td>developer</td></tr>
          <tr><td>ghostbusters</td><td>nintendo 3ds</td><td>pitch & original concept</td></tr>
          <tr><td>disney brave</td><td>ps3, xbox, wii, ds</td><td>pitch & original concept</td></tr>
          <tr><td>wipeout 2</td><td>nintendo ds</td><td>game designer</td></tr>
          <tr><td>rango<td>ios</td><td>game designer</td></tr>
          <tr><td>naughty bear</td><td>ios</td><td>pitch & original concept</td></tr>
          <tr><td>mysims sky heroes</td><td>nintendo ds</td><td>script</td></tr>
          <tr><td>my sims agents 2</td><td>nintendo ds (cancelled)</td><td>game designer</td></tr>
          <tr><td>twilight</td><td>nintendo ds (cancelled)</td><td>game designer</td></tr>
          <tr><td>mysims racing ds</td><td>nintendo ds</td><td>game designer</td></tr>
          <tr><td>the mummy 3 ds</td><td>nintendo ds</td><td>game designer</td></tr>
          <tr><td>indiana jones & the staff of kings</td><td>nintendo ds</td><td>lead programmer</td></tr>
          <tr><td>kim possible 6</td><td>nintendo ds</td><td>additional programming</td></tr>
          <tr><td>monster house</td><td>nintendo ds</td><td>additional programming</td></tr>
          <tr><td>suite life of zack and cody: tipton trouble</td><td>nintendo ds</td><td>lead programmer</td></tr>
          <tr><td>scooby doo unmasked</td><td>nintendo ds</td><td>game programmer</td></tr>
          <tr><td>malice</td><td>xbox</td><td>lead gameplay programmer</td></tr>
          <tr><td>xlr8</td><td>pc & arcade</td><td>programmer</td></tr>
          <tr><td>wargames</td><td>psx</td><td>programmer</td></tr>
          <tr><td>glover</td><td>psx & n64</td><td>programmer</td></tr>
        </tbody>

    </table>

    <h2>awards</h2>

    <p>2010 canadian video game awards - finalist, best handheld game, nominated best game design - my sims racing ds (game designer) </p>

    <p>2007 alliance numerique - winner multimedia technical innovation - suite life of zack & cody ds (lead programmer)
    </p>
</div>
