<div class = "row animated fadeIn">
    <h3>publications</h3>
    <p>butler, s. and parkes, a.  (1997) film sequence generation strategies for generic automatic intelligent video editing. special issue on entertainment and ai/alife of applied artificial intelligence (aai).</p>
    <p>butler, s. and parkes, a.  (1996) automatic film editing by filmic decomposition of nonfilmic queries. international conference on multimedia technology and management (icmtm), hong kong.</p>
    <p>butler, s. and parkes, a.  (1996) spacetime diagrams for film structure representation. signal processing: image communication, volume 8 issue 4.</p>
    <p>parkes, a. p., nack, f., and butler, s. (1994) artificial intelligence techniques and film structure knowledge for the representation and manipulation of video. proceedings of riao 1994, intelligent multimedia information retrieval systems and management. vol. 2. rockefeller university, new york.</p>
    <p>butler s., and parkes, a. p. (1994) intelligent strategies for the presentation of video in intelligent tutoring systems. educational multimedia and hypermedia annual. edmedia 94, vancouver.</p>
</div>
