<div class = "row animated fadeIn">

<h3><a href = "/blog">blog</a></h3>
<h3><a href = "/teaching">teaching</a></h3>
<h3><a href = "/publications">publications</a></h3>
<h3><a href = "/games">games</a></h3>

</div>
