<div class = "twelve columns  animated fadeIn">
    <h2>bio</h2>
    <p>sean butler is a senior lecturer in the computer science and creative technology cluster within the faculty of environment and technology at the university of west of england.</p>
    <p>his <a href = "/research">research</a> interests include the automatic generation of video games, film and stories, particularly using artificial intelligence.</p>
    <p>in 20 years as a professional video game programmer designer and manager, sean helped to build a wide variety of <a href = "/games">video games</a> from the ps1 to the iphone. this extensive experience informs his research.</p>
    <p>sean studied computer science at <a href = "http://www.lancs.ac.uk/">lancaster</a> university with a post grad focus on artificial intelligence and cinema theory. </p>
</div>
