
<div class = "row animated fadeIn">
    <h3>teaching</h3>

    <h4>2016-17</h4>
    <p>currently teaching on the games technology program in the department of computer science and creative technologies at the faculty of environment and technology in the university of west of england. creative technology uses a team teaching approach. so i lead the entertainment software development module and contribute in a secondary role to three others.</p>

    <table class="u-full-width">

      <tbody>
        <tr>
            <td>ufcfwa-30-1</td>
            <td>entertainment software development</td>
            <td>module leader</td>
        </tr>
        <tr>
            <td>ufcfwa-30-2</td>
          <td>play and games</td>
          <td>tutor</td>
        </tr>
        <tr>
            <td>ufcfwa-30-2</td>
          <td>game engine architecture</td>
          <td>tutor</td>
        </tr>
        <tr>
            <td>ufcfwa-30-2</td>
          <td>creative technologies project</td>
          <td>tutor</td>
        </tr>
    </tbody>
    </table>


    <h4>earlier</h4>
    <p>previously working at johnson county community college in kansas city missouri to help develop the cucciculum for their associates degree in games development.
    <p>back in the mid 90s i held a post at middlesex university where i taught games development using psx/yaroze hardware, the first uk batchelors level course to do so.</p>

</div>
