<div class = "container content">

    <div class="row section">

        <div class = "three columns">
            <h2>teaching</h2>
        </div>

        <div class = "nine columns">

            <p>currently teaching on the games technology program in the department of computer science and creative technologies at the faculty of environment and technology in the university of west of england. creative technology uses a team teaching approach. so i lead the entertainment software development module and contribute in a secondary role to three others.</p>

            <table class="u-full-width">
              <thead>
                <tr>
                    <th>title</th>
                    <th>code</th>
                    <th>campus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>entertainment software development</td>
                  <td>ufcfwa-30-1</td>
                  <td>module leader</td>
                </tr>
                <tr>
                  <td>play and games</td>
                  <td>ufcfwa-30-2</td>
                  <td>tutor</td>
                </tr>
                <tr>
                  <td>game engine architecture</td>
                  <td>ufcfwa-30-2</td>
                  <td>tutor</td>
                </tr>
                <tr>
                  <td>creative technologies project</td>
                  <td>ufcfwa-30-2</td>
                  <td>tutor</td>
                </tr>

            </tbody>

            </table>

        </div>

        <div class = "row section">

            <div class = "three columns">
                <h2>earlier</h2>
            </div>

            <div class = "nine columns">
                <p>previously i worked with johnson county community college in kansas city missouri to help develop the cucciculum for their associates degree in games development.
                <p>back in the 90s i held a post at middlesex university where i taught games development using psx/yaroze hardware.</p>
            </div>

        </div>

    </div>

</div>
